<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:insert="~{blocks/header}"></div>

<body>
<div th:insert="~{blocks/navbar}"></div>

    <ul>
        <li><a class="btn btn-success" href="/admin/create-product" role="button">Добавить товар</a></li>
        <li><a class="btn btn-primary" href="admin/select-product" role="button">Список товаров</a></li>
        <li><a class="btn btn-primary" href="#" role="button">Назначить админом</a></li>
        <li><a class="btn btn-danger" href="#" role="button">Забанить</a></li>
    </ul>
</body>
</html>