<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:insert="~{blocks/header}"></div>

<body>
<div th:insert="~{blocks/navbar}"></div>

<a class="btn btn-success" href="/admin/create-product" role="button">Добавить товар</a>
<br>
<a class="btn btn-primary" href="admin/select-product" role="button">Список товаров</a>
<br>
<a class="btn btn-primary" href="#" role="button">Назначить админом</a>
<br>
<a class="btn btn-danger" href="#" role="button">Забанить</a>
<br>

<div th:insert="~{blocks/scripts}"></div>
</body>
</html>