<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:insert="blocks/header :: header"></div>

<body>

<div th:insert="blocks/navbar :: navbar"></div>

<div> Все товары: </div>
<div th:each="product : ${products}">
    <a th:href="@{products/{id}(id=${product.getId()})}" th:text="${product.getTitle() + ', ' + product.getPrice()}"></a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>