<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:insert="~{blocks/header}"></div>

<body>

<div th:insert="~{blocks/navbar}"></div>

<div>

    <div th:each="image : ${images}">
        <img th:src="@{/images/{id}(id=${image.id})}" height="60px" alt=""/><br><br>
    </div>

    <p th:text="${product.getTitle()}">Value</p>
    <p th:text="${product.getPrice()}">Value</p>
    <div sec:authorize="isAuthenticated()">
        <a class="btn btn-success" th:href="@{/products/{id}/add-product-to-cart(id=${product.getId()})}"
           role="button">Добавить в корзину</a>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <a class="btn btn-success" href="/auth/login" role="button">Добавить в корзину</a>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <ul>
            <li><a class="btn btn-warning" th:href="@{/products/{id}/update(id=${product.getId()})}"
                   role="button">Обновить товар</a></li>
            <li>
                <form th:method="DELETE" th:action="@{/products/{id}(id=${product.getId()})}">
                    <button type="submit" class="btn btn-danger" role="button">Удалить товар</button>
                </form>
            </li>
        </ul>
    </div>
</div>

<div th:insert="~{blocks/scripts}"></div>
</body>
</html>