<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:insert="~{blocks/header}"></div>

<body>
<div th:insert="~{blocks/navbar}"></div>

<div th:each="product : ${productsOfUser}" class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
            <img th:src="@{/images/{id}(id=${product.previewImageId})}" class="img-fluid" alt=""/><br><br>
            <a th:href="@{products/{id}(id=${product.getId()})}"
               th:text="${product.getTitle() + ', ' + product.getPrice()}"></a>
        </div>
        <form th:method="DELETE" th:action="@{/cart/remove-from-the-cart/{id}(id=${product.id})}">
            <button type="submit" class="btn btn-danger" role="button">Убрать товар из корзины</button>
        </form>
    </div>
</div>
<div th:if="${productsOfUser.isEmpty()}">
    <span>Вы пока ничего не добавили в корзину :(</span>
</div>
<div th:if="${!productsOfUser.isEmpty()}">
    <span>Товары в корзине на сумму: </span>
    <span th:text="${totalPrice}"></span>
    <br>
    <div th:if="${person.accountNumber == null}">
        <span>У вас не добавлен номер расчётного счёта для списания. Поэтому вы не сможете оформить заказ.</span>
        <a href="/user">Пожалуйста, добавьте номер расчётного счёта.</a>
    </div>
    <div th:if="${person.accountNumber != null}">
        <form th:method="POST" th:action="@{/payment/{id}(id=${person.id})}">
            <button type="submit" class="btn btn-success" role="button">Оформить</button>
        </form>
    </div>
</div>
<br>
<div th:if="${!ordersOfUser.isEmpty()}">
    <br>
    <span>Ваши заказы: </span>
    <div th:each="order : ${ordersOfUser}">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <p th:text="${order.id}"></p>
                <p th:text="${order.status}"></p>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{blocks/scripts}"></div>
</body>
</html>