<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/products">
                ONLINE-SHOP
            </a>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/products">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Акции</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Категории
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">FAQ</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="/products" method="GET">
                    <label for="searchRequest"></label>
                    <input class="form-control me-2" type="text" id="searchRequest" name="searchRequest">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>

                <div sec:authorize="isAuthenticated()">
                    <a href="/cart" class="btn btn-primary position-relative cart" role="button" data-bs-toggle="link">
                        Корзина
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">quantity</span>
                        </span>
                    </a>
                </div>

                <div sec:authorize="!isAuthenticated()">
                    <a href="/auth/login" class="btn btn-primary position-relative cart" role="button" data-bs-toggle="link">
                        Корзина
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">quantity</span>
                        </span>
                    </a>
                    <a class="navbar-brand" href="/auth/login">
                        <img th:src=@{/images/{id}(id=7)} alt="Bootstrap" width="40" height="40"
                             class="user-profile-img">
                    </a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <div th:if="${profilePictureId} == null">
                                <img th:src=@{/images/{id}(id=7)} alt="Bootstrap" width="40" height="40"
                                     class="user-profile-img">
                            </div>
                            <div th:if="${profilePictureId} != null">
                                <img th:src=@{/images/{id}(id=${profilePictureId})} alt="Bootstrap" width="40" height="40"
                                     class="user-profile-img">
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li>Authenticated as <span sec:authentication="name"></span></li>
                            <li><a class="dropdown-item" href="/user">Аккаунт</a></li>
                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                                <li><a class="dropdown-item" href="/admin">Управление</a></li>
                            </div>
                            <li><a class="dropdown-item" href="#">Настройки</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/logout}" th:action="@{/logout}"
                                   th:method="POST">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>